.DS_Store
*.log
.idea
*.mp3
*.wav
*.ogg
*.flac
*.aac
*.m4a
*.mp4
*.avi
*.mkv
*.mov
*.wmv
*.flv
*.webm
*.vob
*.ogv
*.3gp
*.3g2
*.m4v
*.mng
*.qt
*.yuv
*.rm
*.rmvb
*.asf
*.amv
*.mpg
*.mpeg
*.m2v
*.svi
*.3gp2
*.mxf
speech.txt
